@import "compass";

$color_1: black;
$color_2: white;
$border_1 : 12px solid $color_1;
$border_2 : 20px solid $color_1;
$h1_fontsize : calc(3vw+3vh);

@media screen and (min-width: 960px)  {
		.message_page{
			overflow-y: scroll;
			overflow-x: hidden;
			height: 100%;
			width: 105%;
			padding-right: 5vw;
		}

		.message_paragraph{
			font-size: 16px !important;
			line-height: 300%;
			letter-spacing: 6px;
			padding-top: 5vh;
		}
}

@media screen and (max-width: 959px) {
	html {
	  height: 100%;
		overflow: hidden
	}

	body {
		height: 100%;
	  background-color: white;
		margin: 0 0 0 0;
	}
	.content_wrap {
		padding: 5vh 0 0 0;
		font-family: 'Ryumin', serif;
		.content {
			position: absolute;
			overflow-y: scroll;
			overflow-x: hidden;
			margin: 30px 5vw calc(10vh + 40px) 5vw;
			height: 68vh;
			font-size: 10px;

			h1{
				font-family: 'Futura-Oblique', sans-serif;
				letter-spacing: 2px;
				font-size: 7vw;;

				#queue{
					font-family: 'Futura', sans-serif;
				}
			}

			h2{
				font-family: 'Garamond', serif;
				font-style: italic;
				font-weight: 200;
				font-size: 6vw;
				text-align: center;
				padding: 10vh 0;
			}

			h3{
				font-family: 'Futura', 'Ryumin',  serif;
				font-weight: 200;
				font-size: 5vw;
			}

			.paragraph_warp{
				height: 65vh;
				padding-right: 5vw;
			}

			p {
				font-size: 18px !important;
				line-height: 200%;
				letter-spacing: 3px;
			}
		}
	}


	#top_logo_wrapper {
		display: none;
		float: right;
		top: 0;
		position: relative;
		width: 40px;
		z-index: 2;
	}

	#top_logo {
		width: 100%;
		z-index: 2;

		&:hover{
			z-index: 2;
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);

			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all  0.5s ease;
		}
	}

	#navToggle {
	  position: absolute;
	  left: 20px;
	  top: -10px;
	  width: 30px;
	  height: 25px;
	  cursor: pointer;

		animation: fadeIn_menu 3s ease 0s 1 normal;
	  -webkit-animation: fadeIn_menu 3s ease 0s 1 normal;

	  div {
	    position: relative;
	  }
	  span {
	    display: block;
	    position: absolute;
	    width: 100%;
	    border-bottom: solid 3px $color_1;
	    -webkit-transition: .35s ease-in-out;
	    -moz-transition: .35s ease-in-out;
	    transition: .35s ease-in-out;
	    &:nth-child(1) {
	      top: 0;
	    }
	    &:nth-child(2) {
	      top: 11px;
	    }
	    &:nth-child(3) {
	      top: 22px;
	    }
	  }
	}

	#sp_menu {
		width: 100%;
		z-index: 2;
		position: fixed;
		background: rgba(255, 255, 255, 0.7);
		display: table;

		font-family: 'Futura-Oblique', serif;

		ul {
			padding: 0;
			font-size: 20px;
			line-height: 1;
			text-align: center;
			margin: 0 10px 10px 0;
			li {
				margin: auto;
				display: inline-block;
				&:hover{
					background-color: $color_1;
					color: $color_2;
				}
				&::after {
					content: ' |';
				}
				&:last-child::after {
					content: '';
				}
				a {
					z-index: 2;
					text-decoration: none;
					color: inherit;
				}
			}
		}

	  nav {
			text-align: right;
			vertical-align: bottom;
	    position: absolute;
	    top: 40px !important;
	    background: rgba(255, 255, 255, 1);
			visibility: hidden;
			opacity: 0;
	    width: 100%;
	    padding: 0 10px;
			width: 80vw;
			margin: 0 auto;
	    -webkit-transition: .5s ease-in-out;
	    -moz-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	    text-align: left;

			&.selected{
				opacity: 1;
				visibility: visible;
			}
	  }

	  ul {
	    margin: auto;
	    li {
	      display: block;
	      margin-top: 20px;
	      a {
	        display: block;
					line-height: 200%;
	      }
	      &::after {
	        content: '';
	      }
	      &:last-child {
	        border-bottom: none;
	      }
	    }
	  }
	}

	#navToggle {
	  display: block;
	}

	.openNav {
	  #navToggle span {
	    &:nth-child(1) {
	      top: 11px;
	      -webkit-transform: rotate(-45deg);
	      -moz-transform: rotate(-45deg);
	      transform: rotate(-45deg);
	    }
	    &:nth-child(2), &:nth-child(3) {
	      top: 11px;
	      -webkit-transform: rotate(45deg);
	      -moz-transform: rotate(45deg);
	      transform: rotate(45deg);
	    }
	  }
	}

	hr {
		margin: 0;
		border: none;
		height: 1.5px;
	}

	.about_title_underline{
		width: 40vw;
	}

	.teams_title_underline{
		width: 40vw;
	}

	.works_title_underline{
		width: 40vw;
	}

	.enqueue_title_underline{
		width: 40vw;
	}

	.contact_title_underline{
		width: 40vw;
	}

	.enqueue_page{
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
		width: 105%;
		padding-right: 5vw;
	}


	.enqueue_image{
		width: 100%;
	}

	#e-mail {
		#email{
			font-family: 'Garamond', sans-serif;
			font-style: italic;
			font-size: 20px;
		}
		font-family: 'Ryumin', sans-serif;
		font-size: 18px;
		padding-top: 10vh;
	}

	#greeting {
		font-size: 9.6vw;
		position: absolute;
		bottom: -5vw;
		right: 0;
		text-align: center;
	}

	#hello {
		font-family: 'Garamond', serif;
		font-style: italic;
		position: relative;
		top: 0;
	}

	#queue {
		font-family: 'Futura', sans-serif;
		font-weight: 200;
		position: relative;
		top: 0;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all  1s ease;
	}

	#tmenu {
		display: none;
	}

	#square {
	  border: $border_1;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  position: absolute;
	  right: 0;
	  top: 0;
	  height: 85vh;
	  width: 90vw;
	  -webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  transition: all  1s ease;

	}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
