@font-face {
  font-family: 'Futura';
  src: url(../fonts/Futura/Futura.ttf);
}
@font-face {
  font-family: 'Futura-Oblique';
  src: url(../fonts/Futura/Futura-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: 'Garamond';
  src: url(../fonts/Garamond/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Ryumin';
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Medium.otf) format("opentype");
}
/* line 29, ../sass/about.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 34, ../sass/about.scss */
body {
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@media screen and (min-width: 960px) {
  /* line 44, ../sass/about.scss */
  #greeting {
    font-size: 8vw;
    color: black;
    position: absolute;
    bottom: -4vw;
    right: 0;
    float: right;
    text-align: center;
  }

  /* line 54, ../sass/about.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 61, ../sass/about.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
  }

  /* line 68, ../sass/about.scss */
  #top_logo_wrapper {
    float: right;
    position: relative;
    margin: -20px 20px 20px 0;
    width: 5vw;
    z-index: 2;
  }

  /* line 76, ../sass/about.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 80, ../sass/about.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 95, ../sass/about.scss */
  #square {
    z-index: 0;
    border: 20px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
  /* line 111, ../sass/about.scss */
  #square .content_wrap {
    padding: 40px 6vw 0 12vw;
    position: relative;
    font-family: 'Ryumin', serif;
  }
  /* line 116, ../sass/about.scss */
  #square .content_wrap .content {
    position: absolute;
    margin-left: 80px;
    margin-right: 140px;
    height: 90vh;
    padding-bottom: calc(10vh + 50px);
    width: auto;
    overflow: hidden;
  }
  /* line 125, ../sass/about.scss */
  #square .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 2vw;
  }
  /* line 130, ../sass/about.scss */
  #square .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 134, ../sass/about.scss */
  #square .content_wrap .content h1 #others {
    font-family: 'Garamond', serif;
    font-style: italic;
  }
  /* line 140, ../sass/about.scss */
  #square .content_wrap .content hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }
  /* line 146, ../sass/about.scss */
  #square .content_wrap .content .about_title_underline {
    width: 12.5vw;
  }
  /* line 150, ../sass/about.scss */
  #square .content_wrap .content .message_title_underline {
    width: 19vw;
  }
  /* line 154, ../sass/about.scss */
  #square .content_wrap .content .teams_title_underline {
    width: 15vw;
  }
  /* line 158, ../sass/about.scss */
  #square .content_wrap .content .works_title_underline {
    width: 13vw;
  }
  /* line 162, ../sass/about.scss */
  #square .content_wrap .content .enqueue_title_underline {
    width: 8vw;
  }
  /* line 166, ../sass/about.scss */
  #square .content_wrap .content .contact_title_underline {
    width: 16vw;
  }
  /* line 170, ../sass/about.scss */
  #square .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 179, ../sass/about.scss */
  #square .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 1.5vw;
  }
  /* line 185, ../sass/about.scss */
  #square .content_wrap .content .paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 192, ../sass/about.scss */
  #square .content_wrap .content #about_paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
    height: 70vh;
  }
  /* line 202, ../sass/about.scss */
  #square #tmenu {
    text-decoration: none;
    font-family: 'Futura-Oblique', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 0 20px 0 -14vw;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }
  /* line 213, ../sass/about.scss */
  #square #tmenu tr .selected {
    background-color: black;
    color: white;
  }
  /* line 218, ../sass/about.scss */
  #square #tmenu .amenu_wrap {
    padding-left: 60px;
  }
  /* line 222, ../sass/about.scss */
  #square #tmenu .amenu {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 14vw;
    padding-right: 1vw;
    margin-top: 16px;
    text-align: left;
    text-decoration: none;
  }
  /* line 231, ../sass/about.scss */
  #square #tmenu .amenu:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  /* line 240, ../sass/about.scss */
  #square .title {
    font-size: 1em;
  }
  /* line 242, ../sass/about.scss */
  #square .title.select {
    font-size: 12em;
  }
}
@media screen and (max-width: 959px) {
  /* line 249, ../sass/about.scss */
  .content_wrap {
    padding: 5vh 0 0 0;
    font-family: 'Ryumin', serif;
  }
  /* line 252, ../sass/about.scss */
  .content_wrap .content {
    position: absolute;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 30px 5vw calc(10vh + 40px) 5vw;
    height: 68vh;
    font-size: 10px;
  }
  /* line 261, ../sass/about.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 7vw;
  }
  /* line 266, ../sass/about.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 271, ../sass/about.scss */
  .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 6vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 280, ../sass/about.scss */
  .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 5vw;
  }
  /* line 286, ../sass/about.scss */
  .content_wrap .content .paragraph_warp {
    height: 65vh;
    padding-right: 5vw;
  }
  /* line 291, ../sass/about.scss */
  .content_wrap .content p {
    font-size: 18px !important;
    line-height: 200%;
    letter-spacing: 3px;
  }

  /* line 299, ../sass/about.scss */
  #navToggle {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    animation: fadeIn_menu 3s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 3s ease 0s 1 normal;
  }
  /* line 310, ../sass/about.scss */
  #navToggle div {
    position: relative;
  }
  /* line 313, ../sass/about.scss */
  #navToggle span {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: solid 3px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  /* line 321, ../sass/about.scss */
  #navToggle span:nth-child(1) {
    top: 0;
  }
  /* line 324, ../sass/about.scss */
  #navToggle span:nth-child(2) {
    top: 11px;
  }
  /* line 327, ../sass/about.scss */
  #navToggle span:nth-child(3) {
    top: 22px;
  }

  /* line 333, ../sass/about.scss */
  #sp_menu {
    width: 100%;
    z-index: 2;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    font-family: 'Futura-Oblique', serif;
  }
  /* line 342, ../sass/about.scss */
  #sp_menu ul {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 10px 0;
  }
  /* line 348, ../sass/about.scss */
  #sp_menu ul li {
    margin: auto;
    display: inline-block;
  }
  /* line 351, ../sass/about.scss */
  #sp_menu ul li:hover {
    background-color: black;
    color: white;
  }
  /* line 355, ../sass/about.scss */
  #sp_menu ul li::after {
    content: ' |';
  }
  /* line 358, ../sass/about.scss */
  #sp_menu ul li:last-child::after {
    content: '';
  }
  /* line 361, ../sass/about.scss */
  #sp_menu ul li a {
    z-index: 2;
    text-decoration: none;
    color: inherit;
  }
  /* line 369, ../sass/about.scss */
  #sp_menu nav {
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 40px !important;
    background: white;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 0 10px;
    width: 80vw;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left;
  }
  /* line 386, ../sass/about.scss */
  #sp_menu nav.selected {
    opacity: 1;
    visibility: visible;
  }
  /* line 392, ../sass/about.scss */
  #sp_menu ul {
    margin: auto;
  }
  /* line 394, ../sass/about.scss */
  #sp_menu ul li {
    display: block;
    margin-top: 20px;
  }
  /* line 397, ../sass/about.scss */
  #sp_menu ul li a {
    display: block;
    line-height: 200%;
  }
  /* line 401, ../sass/about.scss */
  #sp_menu ul li::after {
    content: '';
  }
  /* line 404, ../sass/about.scss */
  #sp_menu ul li:last-child {
    border-bottom: none;
  }

  /* line 411, ../sass/about.scss */
  #navToggle {
    display: block;
  }

  /* line 417, ../sass/about.scss */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 423, ../sass/about.scss */
  .openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 432, ../sass/about.scss */
  hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }

  /* line 438, ../sass/about.scss */
  .about_title_underline {
    width: 40vw;
  }

  /* line 442, ../sass/about.scss */
  #greeting {
    font-size: 9.6vw;
    position: absolute;
    bottom: -5vw;
    right: 0;
    text-align: center;
  }

  /* line 450, ../sass/about.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 457, ../sass/about.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 468, ../sass/about.scss */
  #square {
    border: 12px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 85vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
