@font-face {
  font-family: 'Futura';
  src: url(../fonts/Futura/Futura.ttf);
}
@font-face {
  font-family: 'Futura-Oblique';
  src: url(../fonts/Futura/Futura-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: 'Garamond';
  src: url(../fonts/Garamond/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Ryumin';
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Medium.otf) format("opentype");
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Regular.otf) format("opentype");
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Light.otf) format("opentype");
}
/* line 31, ../sass/main.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 36, ../sass/main.scss */
body {
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
}

@media screen and (min-width: 960px) {
  /* line 43, ../sass/main.scss */
  #sp_menu {
    display: none;
  }
  /* line 45, ../sass/main.scss */
  #sp_menu nav {
    display: none;
  }

  /* line 50, ../sass/main.scss */
  #greeting {
    font-size: 8vw;
    color: black;
    position: absolute;
    bottom: -4vw;
    right: 0;
    float: right;
    text-align: center;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 62, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 69, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
  }

  /* line 76, ../sass/main.scss */
  #top_logo_wrapper {
    float: right;
    position: relative;
    margin: -20px 20px 20px 0;
    width: 5vw;
    z-index: 2;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 86, ../sass/main.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 90, ../sass/main.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 105, ../sass/main.scss */
  #square {
    z-index: 0;
    border: 20px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
    animation: fadeIn_square 4s ease 0s 1 normal;
    -webkit-animation: fadeIn_square 4s ease 0s 1 normal;
  }
  /* line 123, ../sass/main.scss */
  #square .content_wrap {
    padding: 40px 6vw 0 12vw;
    position: relative;
    font-family: 'Ryumin', serif;
  }
  /* line 128, ../sass/main.scss */
  #square .content_wrap .content {
    position: absolute;
    display: none;
    margin-left: 80px;
    margin-right: 140px;
    height: 90vh;
    padding-bottom: calc(10vh + 50px);
    width: auto;
    overflow: hidden;
  }
  /* line 138, ../sass/main.scss */
  #square .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 2vw;
  }
  /* line 143, ../sass/main.scss */
  #square .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 147, ../sass/main.scss */
  #square .content_wrap .content h1 #others {
    font-family: 'Garamond', serif;
    font-style: italic;
  }
  /* line 153, ../sass/main.scss */
  #square .content_wrap .content hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }
  /* line 159, ../sass/main.scss */
  #square .content_wrap .content .about_title_underline {
    width: 12.5vw;
  }
  /* line 163, ../sass/main.scss */
  #square .content_wrap .content .teams_title_underline {
    width: 15vw;
  }
  /* line 167, ../sass/main.scss */
  #square .content_wrap .content .works_title_underline {
    width: 13vw;
  }
  /* line 171, ../sass/main.scss */
  #square .content_wrap .content .enqueue_title_underline {
    width: 8vw;
  }
  /* line 175, ../sass/main.scss */
  #square .content_wrap .content .contact_title_underline {
    width: 16vw;
  }
  /* line 179, ../sass/main.scss */
  #square .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 188, ../sass/main.scss */
  #square .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 1.5vw;
  }
  /* line 194, ../sass/main.scss */
  #square .content_wrap .content .paragraph {
    font-size: 16px !important;
    line-height: 250%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 201, ../sass/main.scss */
  #square .content_wrap .content .about_paragraph_warp {
    height: 70vh;
  }
  /* line 205, ../sass/main.scss */
  #square .content_wrap .content #about_paragraph {
    font-size: 18px !important;
    line-height: 250%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 212, ../sass/main.scss */
  #square .content_wrap .content #teams_logo {
    width: 100%;
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
  }
  /* line 221, ../sass/main.scss */
  #square .content_wrap .content #teams_logo:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }
  /* line 235, ../sass/main.scss */
  #square .content_wrap .content .teams_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 242, ../sass/main.scss */
  #square .content_wrap .content .teams_page .teams_of {
    padding-right: 18px;
  }
  /* line 247, ../sass/main.scss */
  #square .content_wrap .content .teams_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 18px !important;
    line-height: 200%;
    padding-top: 5vh;
  }
  /* line 254, ../sass/main.scss */
  #square .content_wrap .content .teams_detail_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 14px !important;
    line-height: 200%;
  }
  /* line 260, ../sass/main.scss */
  #square .content_wrap .content .teams_section {
    padding-top: 2vh;
  }
  /* line 264, ../sass/main.scss */
  #square .content_wrap .content .teams_detail {
    padding-top: 5vh;
  }
  /* line 268, ../sass/main.scss */
  #square .content_wrap .content .enqueue_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 277, ../sass/main.scss */
  #square .content_wrap .content .enqueue_image {
    width: 100%;
  }
  /* line 281, ../sass/main.scss */
  #square .content_wrap .content #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 282, ../sass/main.scss */
  #square .content_wrap .content #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }
  /* line 294, ../sass/main.scss */
  #square #tmenu {
    text-decoration: none;
    font-family: 'Futura-Oblique', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 0 20px 0 -14vw;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }
  /* line 305, ../sass/main.scss */
  #square #tmenu tr .selected {
    background-color: black;
    color: white;
  }
  /* line 310, ../sass/main.scss */
  #square #tmenu .amenu_wrap {
    padding-left: 60px;
  }
  /* line 314, ../sass/main.scss */
  #square #tmenu .amenu {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 14vw;
    padding-right: 1vw;
    margin-top: 16px;
    text-align: left;
    text-decoration: none;
  }
  /* line 323, ../sass/main.scss */
  #square #tmenu .amenu:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  @keyframes fadeIn_square {
    0% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 0;
      transform: rotate(-720deg);
    }
    50% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    75% {
      background-color: black;
      height: calc(4vw + 4vh);
      width: calc(4vw + 4vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
      border: 20px solid black;
      height: 90vh;
      width: 90vw;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
    }
  }
  /* line 367, ../sass/main.scss */
  #square .title {
    font-size: 1em;
  }
  /* line 369, ../sass/main.scss */
  #square .title.select {
    font-size: 12em;
  }

  @keyframes fadeIn_menu {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 959px) {
  /* line 391, ../sass/main.scss */
  html {
    height: 100%;
    overflow: hidden;
  }

  /* line 396, ../sass/main.scss */
  body {
    height: 100%;
    background-color: white;
    margin: 0 0 0 0;
  }

  /* line 401, ../sass/main.scss */
  .content_wrap {
    padding: 5vh 0 0 0;
    font-family: 'Ryumin', serif;
  }
  /* line 405, ../sass/main.scss */
  .content_wrap .content {
    position: absolute;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 30px 5vw calc(10vh + 40px) 5vw;
    height: 68vh;
    font-size: 10px;
  }
  /* line 414, ../sass/main.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 7vw;
  }
  /* line 419, ../sass/main.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 424, ../sass/main.scss */
  .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 6vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 433, ../sass/main.scss */
  .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 5vw;
  }
  /* line 439, ../sass/main.scss */
  .content_wrap .content .paragraph_warp {
    height: 65vh;
    padding-right: 5vw;
  }
  /* line 444, ../sass/main.scss */
  .content_wrap .content p {
    font-size: 18px !important;
    line-height: 200%;
    letter-spacing: 3px;
  }

  /* line 453, ../sass/main.scss */
  #top_logo_wrapper {
    display: none;
    float: right;
    top: 0;
    position: relative;
    width: 40px;
    z-index: 2;
  }

  /* line 462, ../sass/main.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 466, ../sass/main.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 481, ../sass/main.scss */
  #navToggle {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    animation: fadeIn_menu 3s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 3s ease 0s 1 normal;
  }
  /* line 492, ../sass/main.scss */
  #navToggle div {
    position: relative;
  }
  /* line 495, ../sass/main.scss */
  #navToggle span {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: solid 3px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  /* line 503, ../sass/main.scss */
  #navToggle span:nth-child(1) {
    top: 0;
  }
  /* line 506, ../sass/main.scss */
  #navToggle span:nth-child(2) {
    top: 11px;
  }
  /* line 509, ../sass/main.scss */
  #navToggle span:nth-child(3) {
    top: 22px;
  }

  /* line 515, ../sass/main.scss */
  #sp_menu {
    width: 100%;
    z-index: 2;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    font-family: 'Futura-Oblique', serif;
  }
  /* line 524, ../sass/main.scss */
  #sp_menu ul {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 10px 0;
  }
  /* line 530, ../sass/main.scss */
  #sp_menu ul li {
    margin: auto;
    display: inline-block;
  }
  /* line 533, ../sass/main.scss */
  #sp_menu ul li:hover {
    background-color: black;
    color: white;
  }
  /* line 537, ../sass/main.scss */
  #sp_menu ul li::after {
    content: ' |';
  }
  /* line 540, ../sass/main.scss */
  #sp_menu ul li:last-child::after {
    content: '';
  }
  /* line 543, ../sass/main.scss */
  #sp_menu ul li a {
    z-index: 2;
    text-decoration: none;
    color: inherit;
  }
  /* line 551, ../sass/main.scss */
  #sp_menu nav {
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 40px !important;
    background: white;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 0 10px;
    width: 80vw;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left;
  }
  /* line 568, ../sass/main.scss */
  #sp_menu nav.selected {
    opacity: 1;
    visibility: visible;
  }
  /* line 574, ../sass/main.scss */
  #sp_menu ul {
    margin: auto;
  }
  /* line 576, ../sass/main.scss */
  #sp_menu ul li {
    display: block;
    margin-top: 20px;
  }
  /* line 579, ../sass/main.scss */
  #sp_menu ul li a {
    display: block;
    line-height: 200%;
  }
  /* line 583, ../sass/main.scss */
  #sp_menu ul li::after {
    content: '';
  }
  /* line 586, ../sass/main.scss */
  #sp_menu ul li:last-child {
    border-bottom: none;
  }

  /* line 593, ../sass/main.scss */
  #navToggle {
    display: block;
  }

  /* line 599, ../sass/main.scss */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 605, ../sass/main.scss */
  .openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 614, ../sass/main.scss */
  hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }

  /* line 620, ../sass/main.scss */
  .about_title_underline {
    width: 40vw;
  }

  /* line 624, ../sass/main.scss */
  .teams_title_underline {
    width: 40vw;
  }

  /* line 628, ../sass/main.scss */
  .works_title_underline {
    width: 40vw;
  }

  /* line 632, ../sass/main.scss */
  .enqueue_title_underline {
    width: 40vw;
  }

  /* line 636, ../sass/main.scss */
  .contact_title_underline {
    width: 40vw;
  }

  /* line 640, ../sass/main.scss */
  .teams_page {
    margin: auto;
    text-align: left;
  }

  /* line 645, ../sass/main.scss */
  #teams_logo {
    width: 80%;
    margin: auto;
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
  }
  /* line 655, ../sass/main.scss */
  #teams_logo:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 669, ../sass/main.scss */
  .enqueue_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }

  /* line 678, ../sass/main.scss */
  .enqueue_image {
    width: 100%;
  }

  /* line 682, ../sass/main.scss */
  #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 683, ../sass/main.scss */
  #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

  /* line 693, ../sass/main.scss */
  #greeting {
    font-size: 9.6vw;
    position: absolute;
    bottom: -5vw;
    right: 0;
    text-align: center;
  }

  /* line 701, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 708, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 719, ../sass/main.scss */
  #tmenu {
    display: none;
  }

  /* line 723, ../sass/main.scss */
  #square {
    border: 12px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 85vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
    animation: fadeIn_square 2s ease 0s 1 normal;
    -webkit-animation: fadeIn_square 2s ease 0s 1 normal;
  }

  @keyframes fadeIn_square {
    0% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 0;
    }
    50% {
      background-color: black;
      height: calc(4vw + 4vh);
      width: calc(4vw + 4vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      border: 12px solid black;
      height: 90vh;
      width: 90vw;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
    }
  }
  @keyframes fadeIn_menu {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
