@font-face {
  font-family: 'Futura';
  src: url(../fonts/Futura/Futura.ttf);
}
@font-face {
  font-family: 'Futura-Oblique';
  src: url(../fonts/Futura/Futura-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: 'Garamond';
  src: url(../fonts/Garamond/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Ryumin';
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Medium.otf) format("opentype");
}
/* line 29, ../sass/main.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 34, ../sass/main.scss */
body {
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
}

@media screen and (min-width: 960px) {
  /* line 41, ../sass/main.scss */
  #sp_menu {
    display: none;
  }
  /* line 43, ../sass/main.scss */
  #sp_menu nav {
    display: none;
  }

  /* line 48, ../sass/main.scss */
  #greeting {
    font-size: 8vw;
    color: black;
    position: absolute;
    bottom: -4vw;
    right: 0;
    float: right;
    text-align: center;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 60, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 67, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
  }

  /* line 74, ../sass/main.scss */
  #top_logo_wrapper {
    float: right;
    position: relative;
    margin: -20px 20px 20px 0;
    width: 5vw;
    z-index: 2;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 84, ../sass/main.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 88, ../sass/main.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 103, ../sass/main.scss */
  #square {
    z-index: 0;
    border: 20px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
  /* line 121, ../sass/main.scss */
  #square .content_wrap {
    padding: 40px 6vw 0 12vw;
    position: relative;
    font-family: 'Ryumin', serif;
  }
  /* line 126, ../sass/main.scss */
  #square .content_wrap .content {
    position: absolute;
    display: none;
    margin-left: 80px;
    margin-right: 140px;
    height: 90vh;
    padding-bottom: calc(10vh + 50px);
    width: auto;
    overflow: hidden;
  }
  /* line 136, ../sass/main.scss */
  #square .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 2vw;
  }
  /* line 141, ../sass/main.scss */
  #square .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 145, ../sass/main.scss */
  #square .content_wrap .content h1 #others {
    font-family: 'Garamond', serif;
    font-style: italic;
  }
  /* line 151, ../sass/main.scss */
  #square .content_wrap .content hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }
  /* line 157, ../sass/main.scss */
  #square .content_wrap .content .about_title_underline {
    width: 12.5vw;
  }
  /* line 161, ../sass/main.scss */
  #square .content_wrap .content .message_title_underline {
    width: 19vw;
  }
  /* line 165, ../sass/main.scss */
  #square .content_wrap .content .teams_title_underline {
    width: 15vw;
  }
  /* line 169, ../sass/main.scss */
  #square .content_wrap .content .works_title_underline {
    width: 13vw;
  }
  /* line 173, ../sass/main.scss */
  #square .content_wrap .content .enqueue_title_underline {
    width: 8vw;
  }
  /* line 177, ../sass/main.scss */
  #square .content_wrap .content .contact_title_underline {
    width: 16vw;
  }
  /* line 181, ../sass/main.scss */
  #square .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 190, ../sass/main.scss */
  #square .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 1.5vw;
  }
  /* line 196, ../sass/main.scss */
  #square .content_wrap .content .paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 203, ../sass/main.scss */
  #square .content_wrap .content #about_paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
    height: 70vh;
  }
  /* line 211, ../sass/main.scss */
  #square .content_wrap .content #message_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 219, ../sass/main.scss */
  #square .content_wrap .content #message_paragraph {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 228, ../sass/main.scss */
  #square .content_wrap .content #teams_logo {
    width: 100%;
    -moz-transition: -moz-transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
    -o-transition: -o-transform 0.25s linear;
    -ms-transition: -ms-transform 0.25s linear;
    transition: transform 0.25s linear;
  }
  /* line 237, ../sass/main.scss */
  #square .content_wrap .content #teams_logo:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all  0.25s ease;
  }
  /* line 251, ../sass/main.scss */
  #square .content_wrap .content .teams_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 258, ../sass/main.scss */
  #square .content_wrap .content .teams_page .teams_of {
    padding-right: 18px;
  }
  /* line 263, ../sass/main.scss */
  #square .content_wrap .content .teams_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 271, ../sass/main.scss */
  #square .content_wrap .content .teams_detail_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 14px !important;
    line-height: 200%;
  }
  /* line 277, ../sass/main.scss */
  #square .content_wrap .content .teams_section {
    padding-top: 2vh;
  }
  /* line 281, ../sass/main.scss */
  #square .content_wrap .content .teams_detail {
    padding-top: 5vh;
  }
  /* line 285, ../sass/main.scss */
  #square .content_wrap .content .enqueue_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 293, ../sass/main.scss */
  #square .content_wrap .content .enqueue_image {
    width: 100%;
  }
  /* line 297, ../sass/main.scss */
  #square .content_wrap .content #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 298, ../sass/main.scss */
  #square .content_wrap .content #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }
  /* line 310, ../sass/main.scss */
  #square #tmenu {
    text-decoration: none;
    font-family: 'Futura-Oblique', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 0 20px 0 -14vw;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }
  /* line 321, ../sass/main.scss */
  #square #tmenu tr .selected {
    background-color: black;
    color: white;
  }
  /* line 326, ../sass/main.scss */
  #square #tmenu .amenu_wrap {
    padding-left: 60px;
  }
  /* line 330, ../sass/main.scss */
  #square #tmenu .amenu {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 14vw;
    padding-right: 1vw;
    margin-top: 16px;
    text-align: left;
    text-decoration: none;
  }
  /* line 339, ../sass/main.scss */
  #square #tmenu .amenu:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  /* line 383, ../sass/main.scss */
  #square .title {
    font-size: 1em;
  }
  /* line 385, ../sass/main.scss */
  #square .title.select {
    font-size: 12em;
  }
}
@media screen and (max-width: 959px) {
  /* line 407, ../sass/main.scss */
  html {
    height: 100%;
    overflow: hidden;
  }

  /* line 412, ../sass/main.scss */
  body {
    height: 100%;
    background-color: white;
    margin: 0 0 0 0;
  }

  /* line 417, ../sass/main.scss */
  .content_wrap {
    padding: 5vh 0 0 0;
    font-family: 'Ryumin', serif;
  }
  /* line 420, ../sass/main.scss */
  .content_wrap .content {
    position: absolute;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 30px 5vw calc(10vh + 40px) 5vw;
    height: 68vh;
    font-size: 10px;
  }
  /* line 429, ../sass/main.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 7vw;
  }
  /* line 434, ../sass/main.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 439, ../sass/main.scss */
  .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 6vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 448, ../sass/main.scss */
  .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 5vw;
  }
  /* line 454, ../sass/main.scss */
  .content_wrap .content .paragraph_warp {
    height: 65vh;
    padding-right: 5vw;
  }
  /* line 459, ../sass/main.scss */
  .content_wrap .content p {
    font-size: 18px !important;
    line-height: 200%;
    letter-spacing: 3px;
  }

  /* line 468, ../sass/main.scss */
  #top_logo_wrapper {
    display: none;
    float: right;
    top: 0;
    position: relative;
    width: 40px;
    z-index: 2;
  }

  /* line 477, ../sass/main.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 481, ../sass/main.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 496, ../sass/main.scss */
  #navToggle {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    animation: fadeIn_menu 3s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 3s ease 0s 1 normal;
  }
  /* line 507, ../sass/main.scss */
  #navToggle div {
    position: relative;
  }
  /* line 510, ../sass/main.scss */
  #navToggle span {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: solid 3px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  /* line 518, ../sass/main.scss */
  #navToggle span:nth-child(1) {
    top: 0;
  }
  /* line 521, ../sass/main.scss */
  #navToggle span:nth-child(2) {
    top: 11px;
  }
  /* line 524, ../sass/main.scss */
  #navToggle span:nth-child(3) {
    top: 22px;
  }

  /* line 530, ../sass/main.scss */
  #sp_menu {
    width: 100%;
    z-index: 2;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    font-family: 'Futura-Oblique', serif;
  }
  /* line 539, ../sass/main.scss */
  #sp_menu ul {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 10px 0;
  }
  /* line 545, ../sass/main.scss */
  #sp_menu ul li {
    margin: auto;
    display: inline-block;
  }
  /* line 548, ../sass/main.scss */
  #sp_menu ul li:hover {
    background-color: black;
    color: white;
  }
  /* line 552, ../sass/main.scss */
  #sp_menu ul li::after {
    content: ' |';
  }
  /* line 555, ../sass/main.scss */
  #sp_menu ul li:last-child::after {
    content: '';
  }
  /* line 558, ../sass/main.scss */
  #sp_menu ul li a {
    z-index: 2;
    text-decoration: none;
    color: inherit;
  }
  /* line 566, ../sass/main.scss */
  #sp_menu nav {
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 40px !important;
    background: white;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 0 10px;
    width: 80vw;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left;
  }
  /* line 583, ../sass/main.scss */
  #sp_menu nav.selected {
    opacity: 1;
    visibility: visible;
  }
  /* line 589, ../sass/main.scss */
  #sp_menu ul {
    margin: auto;
  }
  /* line 591, ../sass/main.scss */
  #sp_menu ul li {
    display: block;
    margin-top: 20px;
  }
  /* line 594, ../sass/main.scss */
  #sp_menu ul li a {
    display: block;
    line-height: 200%;
  }
  /* line 598, ../sass/main.scss */
  #sp_menu ul li::after {
    content: '';
  }
  /* line 601, ../sass/main.scss */
  #sp_menu ul li:last-child {
    border-bottom: none;
  }

  /* line 608, ../sass/main.scss */
  #navToggle {
    display: block;
  }

  /* line 614, ../sass/main.scss */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 620, ../sass/main.scss */
  .openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 629, ../sass/main.scss */
  hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }

  /* line 635, ../sass/main.scss */
  .about_title_underline {
    width: 40vw;
  }

  /* line 639, ../sass/main.scss */
  .teams_title_underline {
    width: 40vw;
  }

  /* line 643, ../sass/main.scss */
  .works_title_underline {
    width: 40vw;
  }

  /* line 647, ../sass/main.scss */
  .enqueue_title_underline {
    width: 40vw;
  }

  /* line 651, ../sass/main.scss */
  .contact_title_underline {
    width: 40vw;
  }

  /* line 655, ../sass/main.scss */
  .teams_page {
    margin: auto;
    text-align: left;
  }

  /* line 660, ../sass/main.scss */
  #teams_logo {
    width: 80%;
    margin: auto;
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
  }
  /* line 670, ../sass/main.scss */
  #teams_logo:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 684, ../sass/main.scss */
  .enqueue_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }

  /* line 693, ../sass/main.scss */
  .enqueue_image {
    width: 100%;
  }

  /* line 697, ../sass/main.scss */
  #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 698, ../sass/main.scss */
  #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

  /* line 708, ../sass/main.scss */
  #greeting {
    font-size: 9.6vw;
    position: absolute;
    bottom: -5vw;
    right: 0;
    text-align: center;
  }

  /* line 716, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 723, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 734, ../sass/main.scss */
  #tmenu {
    display: none;
  }

  /* line 738, ../sass/main.scss */
  #square {
    border: 12px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 85vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
}
