@font-face {
  font-family: 'Futura';
  src: url(../fonts/Futura/Futura.ttf);
}
@font-face {
  font-family: 'Futura-Oblique';
  src: url(../fonts/Futura/Futura-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: 'Garamond';
  src: url(../fonts/Garamond/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Ryumin';
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Medium.otf) format("opentype");
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Regular.otf) format("opentype");
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Light.otf) format("opentype");
}
/* line 31, ../sass/main.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 36, ../sass/main.scss */
body {
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
}

@media screen and (min-width: 960px) {
  /* line 43, ../sass/main.scss */
  .content_wrap {
    padding: 5vh 6vw 0 12vw;
    position: relative;
    font-family: 'Ryumin', serif;
  }
  /* line 47, ../sass/main.scss */
  .content_wrap .content {
    position: absolute;
    display: none;
    padding-right: 15vw;
    padding-left: 5vw;
  }
  /* line 53, ../sass/main.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 2vw;
  }
  /* line 58, ../sass/main.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 62, ../sass/main.scss */
  .content_wrap .content h1 #others {
    font-family: 'Garamond', serif;
    font-style: italic;
  }
  /* line 68, ../sass/main.scss */
  .content_wrap .content hr {
    margin: 0;
    color: black;
    border: none;
    height: 3px;
  }
  /* line 75, ../sass/main.scss */
  .content_wrap .content .about_title_underline {
    width: 12.5vw;
  }
  /* line 79, ../sass/main.scss */
  .content_wrap .content .teams_title_underline {
    width: 12vw;
  }
  /* line 83, ../sass/main.scss */
  .content_wrap .content .works_title_underline {
    width: 13vw;
  }
  /* line 87, ../sass/main.scss */
  .content_wrap .content .enqueue_title_underline {
    width: 8vw;
  }
  /* line 91, ../sass/main.scss */
  .content_wrap .content .contact_title_underline {
    width: 16vw;
  }
  /* line 95, ../sass/main.scss */
  .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 104, ../sass/main.scss */
  .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 1.5vw;
  }
  /* line 110, ../sass/main.scss */
  .content_wrap .content .about_paragraph_warp {
    overflow: scroll;
    height: 70vh;
  }
  /* line 115, ../sass/main.scss */
  .content_wrap .content #about_paragraph {
    font-size: 18px !important;
    line-height: 250%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 122, ../sass/main.scss */
  .content_wrap .content #teams_logo {
    width: 100%;
  }
  /* line 126, ../sass/main.scss */
  .content_wrap .content .teams_page {
    overflow: scroll;
    height: 70vh;
    width: 60vw;
  }
  /* line 132, ../sass/main.scss */
  .content_wrap .content .teams_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 18px !important;
    line-height: 200%;
    padding-top: 5vh;
  }
  /* line 139, ../sass/main.scss */
  .content_wrap .content .teams_detail_paragraph {
    font-family: 'Ryumin', serif;
    font-size: 14px !important;
    line-height: 300%;
  }
  /* line 145, ../sass/main.scss */
  .content_wrap .content .teams_section {
    padding-top: 2vh;
  }
  /* line 149, ../sass/main.scss */
  .content_wrap .content .teams_detail {
    padding-top: 5vh;
  }
  /* line 153, ../sass/main.scss */
  .content_wrap .content #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 154, ../sass/main.scss */
  .content_wrap .content #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

  /* line 166, ../sass/main.scss */
  #greeting {
    font-size: calc(6vw + 4vh);
    color: black;
    position: absolute;
    bottom: -1vh;
    padding-bottom: calc(0.05vw+0.2vh);
    right: 6vw;
    float: right;
    text-align: center;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 179, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 186, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 197, ../sass/main.scss */
  #tmenu {
    font-family: 'Futura-Oblique', sans-serif;
    font-size: calc(0.6vw + 0.6vh);
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 10vh 0 0 -2vw;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }

  /* line 208, ../sass/main.scss */
  .amenu {
    color: black;
    font-size: 1.5em;
    letter-spacing: 3px;
    display: block;
    padding-left: 10vw;
    padding-right: 1vw;
    margin-top: 1vh;
    text-align: left;
    text-decoration: none;
  }
  /* line 218, ../sass/main.scss */
  .amenu:hover {
    background-color: black;
    color: white;
  }

  /* line 224, ../sass/main.scss */
  tr .selected {
    background-color: black;
    color: white;
  }

  /* line 229, ../sass/main.scss */
  #square {
    border: 20px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
    animation: fadeIn_square 4s ease 0s 1 normal;
    -webkit-animation: fadeIn_square 4s ease 0s 1 normal;
  }

  @keyframes fadeIn_square {
    0% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 0;
      transform: rotate(-720deg);
    }
    50% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    75% {
      background-color: black;
      height: calc(4vw + 4vh);
      width: calc(4vw + 4vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
      border: 20px solid black;
      height: 90vh;
      width: 90vw;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
    }
  }
  /* line 282, ../sass/main.scss */
  #square .title {
    font-size: 1em;
  }
  /* line 284, ../sass/main.scss */
  #square .title.select {
    font-size: 12em;
  }

  @keyframes fadeIn_menu {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 959px) {
  /* line 306, ../sass/main.scss */
  .content_wrap {
    padding: 5vh 10vw 0 10vw;
    font-family: 'Ryumin', serif;
  }
  /* line 310, ../sass/main.scss */
  .content_wrap .content {
    position: absolute;
    display: none;
    overflow: scroll;
  }
  /* line 315, ../sass/main.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: calc(3vw+3vh);
  }
  /* line 320, ../sass/main.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 325, ../sass/main.scss */
  .content_wrap .content .paragraph_warp {
    height: 65vh;
    padding-right: 5vw;
  }
  /* line 330, ../sass/main.scss */
  .content_wrap .content p {
    font-size: 18px !important;
    line-height: 300%;
    letter-spacing: 6px;
  }

  /* line 338, ../sass/main.scss */
  #greeting {
    font-size: 10vw;
    position: absolute;
    bottom: 4vh;
    right: 6vw;
    float: right;
    text-align: center;
  }

  /* line 349, ../sass/main.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 356, ../sass/main.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 367, ../sass/main.scss */
  #tmenu {
    display: none;
    font-family: 'Futura-Oblique', sans-serif;
    font-size: 4vw;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 10vh 0 0 -2vw;
  }

  /* line 379, ../sass/main.scss */
  .amenu {
    color: black;
    font-size: 1.5em;
    letter-spacing: 3px;
    display: block;
    padding-left: 10vw;
    padding-right: 1vw;
    margin-top: 1vh;
    text-align: left;
    text-decoration: none;
  }
  /* line 389, ../sass/main.scss */
  .amenu:hover {
    background-color: black;
    color: white;
  }

  /* line 395, ../sass/main.scss */
  tr .selected {
    background-color: black;
    color: white;
  }

  /* line 400, ../sass/main.scss */
  #square {
    border: 12px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  @keyframes fadeIn_square {
    0% {
      background-color: black;
      height: calc(5vw + 5vh);
      width: calc(5vw + 5vh);
      opacity: 0;
    }
    50% {
      background-color: black;
      height: calc(4vw + 4vh);
      width: calc(4vw + 4vh);
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      border: 12px solid black;
      height: 90vh;
      width: 90vw;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
    }
  }
  @keyframes fadeIn_menu {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
