@font-face {
  font-family: 'Futura';
  src: url(../fonts/Futura/Futura.ttf);
}
@font-face {
  font-family: 'Futura-Oblique';
  src: url(../fonts/Futura/Futura-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: 'Garamond';
  src: url(../fonts/Garamond/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Ryumin';
  src: url(../fonts/Ryumin/A-OTF-RyuminPro-Medium.otf) format("opentype");
}
/* line 29, ../sass/message.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 34, ../sass/message.scss */
body {
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@media screen and (min-width: 960px) {
  /* line 44, ../sass/message.scss */
  #sp_menu {
    display: none;
  }

  /* line 48, ../sass/message.scss */
  #square {
    z-index: 0;
    border: 20px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
  /* line 64, ../sass/message.scss */
  #square #top_logo_wrapper {
    float: right;
    position: relative;
    margin: -20px 20px 20px 0;
    width: 5vw;
    z-index: 2;
  }
  /* line 72, ../sass/message.scss */
  #square #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 76, ../sass/message.scss */
  #square #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }
  /* line 90, ../sass/message.scss */
  #square #message_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }
  /* line 98, ../sass/message.scss */
  #square #message_paragraph {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 107, ../sass/message.scss */
  #square .content_wrap {
    padding: 40px 6vw 0 12vw;
    position: relative;
    font-family: 'Ryumin', serif;
  }
  /* line 112, ../sass/message.scss */
  #square .content_wrap .content {
    position: absolute;
    margin-left: 80px;
    margin-right: 140px;
    height: 90vh;
    padding-bottom: calc(10vh + 50px);
    width: auto;
    overflow: hidden;
  }
  /* line 121, ../sass/message.scss */
  #square .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 2vw;
  }
  /* line 126, ../sass/message.scss */
  #square .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 130, ../sass/message.scss */
  #square .content_wrap .content h1 #others {
    font-family: 'Garamond', serif;
    font-style: italic;
  }
  /* line 136, ../sass/message.scss */
  #square .content_wrap .content hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }
  /* line 142, ../sass/message.scss */
  #square .content_wrap .content .about_title_underline {
    width: 12.5vw;
  }
  /* line 146, ../sass/message.scss */
  #square .content_wrap .content .message_title_underline {
    width: 19vw;
  }
  /* line 150, ../sass/message.scss */
  #square .content_wrap .content .teams_title_underline {
    width: 15vw;
  }
  /* line 154, ../sass/message.scss */
  #square .content_wrap .content .works_title_underline {
    width: 13vw;
  }
  /* line 158, ../sass/message.scss */
  #square .content_wrap .content .enqueue_title_underline {
    width: 8vw;
  }
  /* line 162, ../sass/message.scss */
  #square .content_wrap .content .contact_title_underline {
    width: 16vw;
  }
  /* line 166, ../sass/message.scss */
  #square .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 175, ../sass/message.scss */
  #square .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 1.5vw;
  }
  /* line 181, ../sass/message.scss */
  #square .content_wrap .content .paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
  }
  /* line 188, ../sass/message.scss */
  #square .content_wrap .content #about_paragraph {
    font-size: 16px !important;
    line-height: 300%;
    letter-spacing: 6px;
    padding-top: 5vh;
    height: 70vh;
  }
  /* line 198, ../sass/message.scss */
  #square #tmenu {
    text-decoration: none;
    font-family: 'Futura-Oblique', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    margin: 0 20px 0 -14vw;
    animation: fadeIn_menu 5s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 5s ease 0s 1 normal;
  }
  /* line 209, ../sass/message.scss */
  #square #tmenu tr .selected {
    background-color: black;
    color: white;
  }
  /* line 214, ../sass/message.scss */
  #square #tmenu .amenu_wrap {
    padding-left: 60px;
  }
  /* line 218, ../sass/message.scss */
  #square #tmenu .amenu {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 14vw;
    padding-right: 1vw;
    margin-top: 16px;
    text-align: left;
    text-decoration: none;
  }
  /* line 227, ../sass/message.scss */
  #square #tmenu .amenu:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  /* line 236, ../sass/message.scss */
  #square .title {
    font-size: 1em;
  }
  /* line 238, ../sass/message.scss */
  #square .title.select {
    font-size: 12em;
  }
}
@media screen and (max-width: 959px) {
  /* line 245, ../sass/message.scss */
  html {
    height: 100%;
    overflow: hidden;
  }

  /* line 250, ../sass/message.scss */
  body {
    height: 100%;
    background-color: white;
    margin: 0 0 0 0;
  }

  /* line 255, ../sass/message.scss */
  .content_wrap {
    padding: 5vh 0 0 0;
    font-family: 'Ryumin', serif;
  }
  /* line 258, ../sass/message.scss */
  .content_wrap .content {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 30px 5vw calc(10vh + 40px) 5vw;
    height: 68vh;
    font-size: 10px;
  }
  /* line 266, ../sass/message.scss */
  .content_wrap .content h1 {
    font-family: 'Futura-Oblique', sans-serif;
    letter-spacing: 2px;
    font-size: 7vw;
  }
  /* line 271, ../sass/message.scss */
  .content_wrap .content h1 #queue {
    font-family: 'Futura', sans-serif;
  }
  /* line 276, ../sass/message.scss */
  .content_wrap .content h2 {
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 6vw;
    text-align: center;
    padding: 10vh 0;
  }
  /* line 285, ../sass/message.scss */
  .content_wrap .content h3 {
    font-family: 'Futura', 'Ryumin',  serif;
    font-weight: 200;
    font-size: 5vw;
  }
  /* line 291, ../sass/message.scss */
  .content_wrap .content .paragraph_warp {
    height: 65vh;
    padding-right: 5vw;
  }
  /* line 296, ../sass/message.scss */
  .content_wrap .content p {
    font-size: 18px !important;
    line-height: 200%;
    letter-spacing: 3px;
  }

  /* line 305, ../sass/message.scss */
  #top_logo_wrapper {
    display: none;
    float: right;
    top: 0;
    position: relative;
    width: 40px;
    z-index: 2;
  }

  /* line 314, ../sass/message.scss */
  #top_logo {
    width: 100%;
    z-index: 2;
  }
  /* line 318, ../sass/message.scss */
  #top_logo:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  /* line 333, ../sass/message.scss */
  #navToggle {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    animation: fadeIn_menu 3s ease 0s 1 normal;
    -webkit-animation: fadeIn_menu 3s ease 0s 1 normal;
  }
  /* line 344, ../sass/message.scss */
  #navToggle div {
    position: relative;
  }
  /* line 347, ../sass/message.scss */
  #navToggle span {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: solid 3px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  /* line 355, ../sass/message.scss */
  #navToggle span:nth-child(1) {
    top: 0;
  }
  /* line 358, ../sass/message.scss */
  #navToggle span:nth-child(2) {
    top: 11px;
  }
  /* line 361, ../sass/message.scss */
  #navToggle span:nth-child(3) {
    top: 22px;
  }

  /* line 367, ../sass/message.scss */
  #sp_menu {
    width: 100%;
    z-index: 2;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    font-family: 'Futura-Oblique', serif;
  }
  /* line 376, ../sass/message.scss */
  #sp_menu ul {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 0 10px 10px 0;
  }
  /* line 382, ../sass/message.scss */
  #sp_menu ul li {
    margin: auto;
    display: inline-block;
  }
  /* line 385, ../sass/message.scss */
  #sp_menu ul li:hover {
    background-color: black;
    color: white;
  }
  /* line 389, ../sass/message.scss */
  #sp_menu ul li::after {
    content: ' |';
  }
  /* line 392, ../sass/message.scss */
  #sp_menu ul li:last-child::after {
    content: '';
  }
  /* line 395, ../sass/message.scss */
  #sp_menu ul li a {
    z-index: 2;
    text-decoration: none;
    color: inherit;
  }
  /* line 403, ../sass/message.scss */
  #sp_menu nav {
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 40px !important;
    background: white;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 0 10px;
    width: 80vw;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left;
  }
  /* line 420, ../sass/message.scss */
  #sp_menu nav.selected {
    opacity: 1;
    visibility: visible;
  }
  /* line 426, ../sass/message.scss */
  #sp_menu ul {
    margin: auto;
  }
  /* line 428, ../sass/message.scss */
  #sp_menu ul li {
    display: block;
    margin-top: 20px;
  }
  /* line 431, ../sass/message.scss */
  #sp_menu ul li a {
    display: block;
    line-height: 200%;
  }
  /* line 435, ../sass/message.scss */
  #sp_menu ul li::after {
    content: '';
  }
  /* line 438, ../sass/message.scss */
  #sp_menu ul li:last-child {
    border-bottom: none;
  }

  /* line 445, ../sass/message.scss */
  #navToggle {
    display: block;
  }

  /* line 451, ../sass/message.scss */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 457, ../sass/message.scss */
  .openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 466, ../sass/message.scss */
  hr {
    margin: 0;
    border: none;
    height: 1.5px;
  }

  /* line 472, ../sass/message.scss */
  .about_title_underline {
    width: 40vw;
  }

  /* line 476, ../sass/message.scss */
  .teams_title_underline {
    width: 40vw;
  }

  /* line 480, ../sass/message.scss */
  .works_title_underline {
    width: 40vw;
  }

  /* line 484, ../sass/message.scss */
  .enqueue_title_underline {
    width: 40vw;
  }

  /* line 488, ../sass/message.scss */
  .contact_title_underline {
    width: 40vw;
  }

  /* line 492, ../sass/message.scss */
  .enqueue_page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 105%;
    padding-right: 5vw;
  }

  /* line 501, ../sass/message.scss */
  .enqueue_image {
    width: 100%;
  }

  /* line 505, ../sass/message.scss */
  #e-mail {
    font-family: 'Ryumin', sans-serif;
    font-size: 18px;
    padding-top: 10vh;
  }
  /* line 506, ../sass/message.scss */
  #e-mail #email {
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

  /* line 516, ../sass/message.scss */
  #greeting {
    font-size: 9.6vw;
    position: absolute;
    bottom: -5vw;
    right: 0;
    text-align: center;
  }

  /* line 524, ../sass/message.scss */
  #hello {
    font-family: 'Garamond', serif;
    font-style: italic;
    position: relative;
    top: 0;
  }

  /* line 531, ../sass/message.scss */
  #queue {
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    position: relative;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }

  /* line 542, ../sass/message.scss */
  #tmenu {
    display: none;
  }

  /* line 546, ../sass/message.scss */
  #square {
    border: 12px solid black;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 85vh;
    width: 90vw;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
